/*Playfair Display Font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Playfair+Display:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

header, h1 {
  text-align: center;
  font-family: Playfair Display;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

img {
  max-width: 100%; 
  height: auto;
  border-radius: 8px;
}

.carrousel {
    width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.carrousel_parent-ecrans {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 10px;
  text-align: center;
}

.carrousel_ecran {
  scroll-snap-align: start;
  width: 100%;
  flex: none;
}

.carrousel_picture {
  position: relative;
  width: 600px;
}

.carrousel_btn {
  position: absolute;
  top: 45%;
  width: 2rem;
  height: 2rem;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  color: #fff;
  cursor: pointer;
}

.carrousel_btn-avant {
  left: 0;
}

.carrousel_btn-apres {
  right: 0;
}

.carrousel_liste-liens {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 5px;
  gap: 1rem;
}

.carrousel_liste-liens li {
  gap: 1rem;
  padding: 10px 20px;
  background-color: black;
  border-radius: 10px;
}

.carrousel_liste-liens a{
  color: #fff;
  font-family: Playfair Display;
  text-decoration: none;
}
.carrousel_liste-liens a.actif {
  color: rgb(217, 217, 104);
}
