* {
  box-sizing: border-box; 
}

img {
  max-width: 100%; 
  height: auto;
}

figure{
  margin: 0;
}

.carrousel_parent-ecrans {
  display: flex; 
  overflow-x: scroll;
  scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  gap: 10px;
}

.carrousel_ecran {
  scroll-snap-align: start;
  width: 100%;
  flex: none;
}

.carrousel_picture {
  position: relative;
}

.carrousel_btn {
  position: absolute;
  top: 45%;
  width: 2rem;
  height: 2rem;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  color: #fff;
  cursor: pointer;
}

.carrousel_btn-avant {
  left: 0;
}

.carrousel_btn-apres {
  right: 0;
}

.carrousel_liste-liens {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1rem;
}

.carrousel_liste-liens a.actif {
  color: green;
} 