* {
  box-sizing: border-box; 
}

img {
  max-width: 100%; 
  height: auto;
}

figure{
  margin: 0;
}

.carrousel_parent-ecrans {
  display: flex; 
  overflow-x: scroll;
  scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  gap: 10px;
}

.carrousel_ecran {
  scroll-snap-align: start;
  width: 100%;
  flex: none;
}

.carrousel {
  position: relative;
}

.carrousel_btn {
  position: absolute;
  top: calc(100vw / 16 * 9 / 2 + 1rem);
  transform: translateY(-50%); 
  width: 2rem;
  height: 2rem;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  color: #fff;
}

.carrousel_btn-avant {
  left: 0;
}

.carrousel_btn-apres {
  right: 0;
}