* {
  box-sizing: border-box; 
}

img {
  max-width: 100%; 
  height: auto;
}

.carrousel_parent-ecrans {
  display: flex; 
  width: 100%; 
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.carrousel_ecran {
  flex: 0 0 100%;
}